@media screen and (max-width: 1440px){
    body {
        background-image: url("bg-hero-desktop.svg");
    }
    
}
@media screen and (max-width: 375px) {
    body {
        background-image: url("bg-hero-mobile.svg");
    }
}

* body {
    box-sizing: border-box;
    margin: 0;
    
}

div {
    border: 2px solid grey;
    padding: 10px;
    margin: 10px 4px;
}
.bottom {
    background-color:hsl(192, 100%, 9%);
    width: 100%;
    padding: 10px;
    margin: auto;
     
   
    color: white;
}
ul {
    list-style-type: none;
}
.top {
    background-color:hsl(209, 68%, 73%);
}
p {
    width: 50%;
    
    float: right;
}
img {
    width: 50%;
}
div nav {
    
    justify-content: stretch;
}
.eight {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.lesser {
    width: 50%;
    margin:auto ;
    float: inline-end;
    margin-top: 20px;
}
.small {
    width: 20px;
}
